<div class="panel panel-default">

    {{ include('@LyrixxFortune/Front/fortune_body.html.twig', {fortune: fortune}, with_context = false) }}


    <div class="panel-footer">
        <a href="{{ url('fortune_show', { id: fortune.id }) }}">
            #{{ fortune.id }}
        </a>
        by {{ fortune.author|default('Anonymous') }}
        at {{ fortune.createdAt|date('Y-m-d') }}
        <div class="pull-right votes" data-fortune-id="{{ fortune.id }}">
            <a href="{{ url('fortune_vote', { id: fortune.id, dir:'down', token: csrf_token('') }) }}"><span class="badge">-</span></a>
            <span class="label label-{{ 0 == fortune.votes ? 'warning' : (0 < fortune.votes ? 'success' : 'danger') }}">{{ fortune.votes }}</span>
            <a href="{{ url('fortune_vote', { id: fortune.id, dir:'up', token: csrf_token('') }) }}"><span class="badge">+</span></a>
        </div>
    </div>

</div>
