{% extends '@LyrixxFortune/layout.html.twig' %}

{% set query = app.request.query.all %}

{% block content %}
    {% if pager.currentPageResults|length %}
        {% if app.request.query.has('q') %}
            <p>

                Order results by
                <a href="{{ url('fortune_list', query|merge({q: app.request.query.get('q') }) ) }}">date</a>,
                <a href="{{ url('fortune_list_top', query|merge({q: app.request.query.get('q') }) ) }}">best vote</a>,
                <a href="{{ url('fortune_list_flop', query|merge({q: app.request.query.get('q') }) ) }}">worst vote</a>

            </p>
        {% endif %}

        {% for fortune in pager.currentPageResults %}
            {{ include('@LyrixxFortune/Front/fortune.html.twig', {fortune: fortune, token: csrf_token('')}, with_context = false) }}
        {% endfor %}

        {% if pager.haveToPaginate %}

            <ul class="pagination pagination-lg">
                <li{% if 1 == pager.currentPage %} class="disabled"{% endif %}>
                    <a href="{{ url(app.request.attributes.get('_route'), query|merge({page: 1}) ) }}">&laquo;&laquo;</a>
                </li>
                <li{% if not pager.hasPreviousPage %} class="disabled"{% endif %}>
                    <a href="{{ url(app.request.attributes.get('_route'), query|merge({page: pager.hasPreviousPage ?  pager.getPreviousPage : 1 }) ) }}">&laquo;</a>
                </li>
                {% for page in range(max(1, pager.currentPage - 5), min(pager.currentPage + 5, pager.nbPages)) %}
                    <li{% if page == pager.currentPage %} class="active"{% endif %}>
                        <a href="{{ url(app.request.attributes.get('_route'), query|merge({page: page}) ) }}">
                            {{ page }}{% if page == pager.currentPage %} <span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li{% if not pager.hasNextPage %} class="disabled"{% endif %}>
                    <a href="{{ url(app.request.attributes.get('_route'), query|merge({page:  pager.hasNextPage ? pager.getNextPage : pager.nbPages }) ) }}">&raquo;</a>
                </li>
                <li{% if not pager.hasNextPage %} class="disabled"{% endif %}>
                    <a href="{{ url(app.request.attributes.get('_route'), query|merge({page: pager.nbPages}) ) }}">&raquo;&raquo;</a>
                </li>
            </ul>
        {% endif %}

        <p class="pull-right">
            <a href="{{ url('fortune_new') }}" class="btn btn-primary">add a new one</a>
        </p>

    {% else %}
        {% if app.request.query.has('q') %}
            Nothing match your query,
        {% else %}
            There is no fortunes yet,
        {% endif %}
        but you can
        <a href="{{ url('fortune_new') }}" class="btn btn-primary">add a new one</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('@LyrixxFortune/Front/fortune.js.twig') }}
{% endblock %}
