{% extends '@LyrixxFortune/layout.html.twig' %}

{% block content %}
    {% if preview %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Preview:
            </div>
            {{ include('@LyrixxFortune/Front/fortune_body.html.twig', {fortune: form.vars.value}, with_context = false) }}
        </div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
