parameters:
    env(DATABASE_URL): 'pgsql://ubuntu@postgres-9.lxc/fortunes'

    secret: ThisTokenIsSoSecretDontNeedToChangeIt

    security.user.password: Only needed if you set up security. See README.md
